@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* Custom scrollbar for brutalist feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #0e0e0e;
  border-left: 1px solid #c6c6c6;
}
::-webkit-scrollbar-thumb {
  background: #c6c6c6;
}
::-webkit-scrollbar-thumb:hover {
  background: #4cd6ff;
}

.brutalist-offset {
  box-shadow: 4px 4px 0px 0px var(--tw-shadow-color);
}

.brutalist-offset-hover:hover {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 0px 0px var(--tw-shadow-color);
}

.neo-hover-glow {
  transition: all 0.2s ease-in-out;
}

.neo-hover-glow:hover {
  box-shadow: 8px 8px 0px 0px #4cd6ff;
  transform: translate(-4px, -4px);
  border-color: #4cd6ff;
}
